absl-py==0.12.0
aio-pika==6.8.2
aiofiles==23.1.0
aiogram==2.25.1
aiohttp==3.7.4
aiohttp-retry==2.8.3
aiormq==3.3.1
aiosignal==1.3.1
APScheduler==3.7.0
astunparse==1.6.3
async-generator==1.10
async-timeout==3.0.1
attr==0.3.2
attrs==20.3.0
Babel==2.9.1
backports.zoneinfo==0.2.1
bidict==0.22.1
boto3==1.26.160
botocore==1.29.160
build==0.10.0
CacheControl==0.12.14
cachetools==5.3.1
certifi==2023.5.7
cffi==1.15.1
chardet==3.0.4
charset-normalizer==3.1.0
cleo==2.0.1
click==8.1.3
cloudpickle==1.6.0
colorclass==2.2.2
coloredlogs==15.0.1
colorhash==1.0.4
confluent-kafka==2.1.1
crashtest==0.4.1
cryptography==41.0.1
cycler==0.11.0
dask==2022.10.2
decorator==4.4.2
distlib==0.3.6
dm-tree==0.1.8
dnspython==1.16.0
docopt==0.6.2
dulwich==0.21.5
fbmessenger==6.0.0
filelock==3.12.2
fire==0.5.0
flatbuffers==23.5.26
fonttools==4.40.0
frozenlist==1.3.3
fsspec==2023.6.0
future==0.18.3
gast==0.3.3
google-auth==2.20.0
google-auth-oauthlib==0.4.6
google-pasta==0.2.0
greenlet==2.0.2
grpcio==1.56.0
h11==0.9.0
h5py==2.10.0
html5lib==1.1
httpcore==0.11.1
httplib2==0.22.0
httptools==0.5.0
httpx==0.15.4
humanfriendly==10.0
idna==3.4
importlib-metadata==6.7.0
importlib-resources==5.12.0
installer==0.7.0
jaraco.classes==3.2.3
jeepney==0.8.0
jmespath==1.0.1
joblib==0.15.1
jsonpickle==2.0.0
jsonschema==4.17.3
kafka-python==2.0.2
keras==2.11.0
Keras-Preprocessing==1.1.2
keyring==23.13.1
kiwisolver==1.4.4
libclang==16.0.0
locket==1.0.0
lockfile==0.12.2
magic-filter==1.0.9
Markdown==3.4.3
MarkupSafe==2.1.3
matplotlib==3.3.4
mattermostwrapper==2.2
more-itertools==9.1.0
msgpack==1.0.5
multidict==4.7.6
networkx==2.5.1
numpy==1.18.5
oauth2client==4.1.3
oauthlib==3.2.2
opt-einsum==3.3.0
packaging==20.9
pamqp==2.3.0
partd==1.4.0
pexpect==4.8.0
Pillow==9.5.0
pipreqs==0.4.13
pkg_resources==0.0.0
pkginfo==1.9.6
pkgutil_resolve_name==1.3.10
platformdirs==3.8.0
pluggy==1.2.0
poetry==1.5.1
poetry-core==1.6.1
poetry-plugin-export==1.4.0
portalocker==2.7.0
prompt-toolkit==2.0.10
protobuf==3.19.6
psycopg2-binary==2.8.6
ptyprocess==0.7.0
pyasn1==0.5.0
pyasn1-modules==0.3.0
pycparser==2.21
pydantic==1.10.2
pydot==1.4.2
PyJWT==2.7.0
pykwalify==1.8.0
pymongo==3.10.1
pyparsing==3.1.0
pyproject_hooks==1.0.0
pyrsistent==0.19.3
pyTelegramBotAPI==3.8.3
python-crfsuite==0.9.9
python-dateutil==2.8.2
python-engineio==4.4.1
python-socketio==5.8.0
pytz==2021.3
PyYAML==5.4.1
questionary==1.9.0
randomname==0.1.5
rapidfuzz==2.15.1
rasa==2.6.2
rasa-sdk==2.8.6
redis==3.5.3
regex==2020.9.27
requests==2.31.0
requests-oauthlib==1.3.1
requests-toolbelt==1.0.0
rfc3986==1.5.0
rocketchat-API==1.15.0
rsa==4.9
ruamel.yaml==0.16.13
ruamel.yaml.clib==0.2.7
s3transfer==0.6.1
sanic==20.9.0
Sanic-Cors==0.10.0.post3
sanic-jwt==1.8.0
Sanic-Plugins-Framework==0.9.5
sanic-routing==0.7.2
scikit-learn==0.24.2
scipy==1.8.1
SecretStorage==3.3.3
sentry-sdk==0.19.5
shellingham==1.5.0.post1
six==1.16.0
sklearn-crfsuite==0.3.6
slack-sdk==3.21.3
slackclient==2.9.4
sniffio==1.3.0
SQLAlchemy==1.3.24
structlog==23.1.0
structlog-sentry==2.0.3
tabulate==0.9.0
tarsafe==0.0.4
tensorboard==2.11.2
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.1
tensorflow==2.3.4
tensorflow-addons==0.12.0
tensorflow-estimator==2.3.0
tensorflow-hub==0.10.0
tensorflow-io-gcs-filesystem==0.32.0
tensorflow-probability==0.11.1
tensorflow-text==2.3.0
termcolor==2.3.0
terminaltables==3.1.10
threadpoolctl==3.1.0
toml==0.10.2
tomli==2.0.1
tomlkit==0.11.8
toolz==0.12.0
tqdm==4.59.0
trove-classifiers==2023.5.24
twilio==6.50.1
typeguard==2.13.3
typing-extensions==3.10.0.2
typing-utils==0.1.0
tzlocal==2.1
ujson==4.3.0
urllib3==1.26.16
uvloop==0.14.0
virtualenv==20.23.1
wcwidth==0.2.6
webencodings==0.5.1
webexteamssdk==1.6.1
websockets==8.1
Werkzeug==2.3.6
wrapt==1.15.0
yarg==0.1.9
yarl==1.9.2
zipp==3.15.0
